doctype html
html
  head
    title= title
    link(rel='stylesheet', href=assetFingerprint('/css/bootstrap.min.css'))
    link(rel='stylesheet', href=assetFingerprint('/css/main.css'))

    script(src=assetFingerprint('/js/jquery-3.3.1.slim.min.js'))
    script(src=assetFingerprint('/js/bootstrap.bundle.min.js'))
    script(src=assetFingerprint('/js/bundle/main.js'))

  body
    block content
