doctype html
html
  head
    title= title
    link(rel='stylesheet', href=assetFingerprint('/css/bootstrap.min.css'))
    link(rel='stylesheet', href=assetFingerprint('/css/main.css'))

    script(src=assetFingerprint('/js/jquery.min.js'))
    script(src=assetFingerprint('/js/bootstrap.bundle.min.js'))
    script(src=assetFingerprint('/js/bundle/main.js'))

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/') TinyPlate
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#') Something else here
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='text', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    main.container(role='main')
      #main
        block content

    #modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#modal-title.modal-title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          #modal-body.modal-body
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') OK